---
http_interactions:
- request:
    method: post
    uri: https://api.hasoffers.com/Api
    body:
      encoding: US-ASCII
      string: account%5Bcompany%5D=Example+Store&account%5Bcity%5D=Seattle&account%5Bphone%5D=111-111-1111&account%5Bregion%5D=WA&account%5Baddress1%5D=123+Fake+St&account%5Baddress2%5D=Suite+B&account%5Bcountry%5D=US&account%5Bzipcode%5D=98043&user%5Bemail%5D=joe%40example.com&user%5Bfirst_name%5D=Joe&user%5Blast_name%5D=Blow&user%5Bpassword%5D=xxxxxxxxxx&user%5Bpassword_confirmation%5D=xxxxxxxxxx&Method=signup&Service=HasOffers&Version=2&NetworkId=<HAS_OFFERS_NETWORK_ID>&NetworkToken=<HAS_OFFERS_NETWORK_TOKEN>&Format=json&Target=Affiliate
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Host:
      - use-api-external1-b.hasservers.com
    body:
      encoding: US-ASCII
      string: ! '{"request":{"Target":"Affiliate","Format":"json","Service":"HasOffers","Version":"2","account":{"company":"Example
        Store","city":"Seattle","phone":"111-111-1111","region":"WA","address1":"123
        Fake St","address2":"Suite B","country":"US","zipcode":"98043"},"user":{"email":"joe@example.com","first_name":"Joe","last_name":"Blow","password":"xxxxxxxxxx","password_confirmation":"xxxxxxxxxx"},"Method":"signup","NetworkId":"<HAS_OFFERS_NETWORK_ID>","NetworkToken":"<HAS_OFFERS_NETWORK_TOKEN>"},"response":{"status":1,"data":{"AffiliateUser":{"id":"6","user_id":null,"join_date":"2012-10-23
        17:02:11","last_login":null,"affiliate_id":"1002","permissions":"30","status":"active","wants_alerts":"1","modified":1351026131,"email":"joe@example.com","first_name":"Joe","last_name":"Blow","phone":null,"cell_phone":null,"title":null,"salt":"gmex80G5gWYXUVT","is_creator":true,"access":["Affiliate","Affiliate.stats","Affiliate.offer_management","Affiliate.user_management","Affiliate.account_management"]},"Affiliate":{"account_manager_id":null,"date_added":"2012-10-23
        17:02:11","status":"pending","payment_terms":"net 30","payment_method":"check","method_data":null,"id":"1002","company":"Example
        Store","address1":"123 Fake St","address2":"Suite B","city":"Seattle","region":"WA","country":"US","other":null,"zipcode":"98043","phone":"111-111-1111","fax":null,"website":null,"wants_alerts":"1","w9_filed":"0","referral_id":null,"signup_ip":null,"affiliate_tier_id":null,"fraud_activity_score":null,"fraud_profile_score":null,"modified":-62169966000,"fraud_activity_alert_threshold":null,"fraud_activity_block_threshold":null,"fraud_profile_alert_threshold":null,"fraud_profile_block_threshold":null,"ref_id":null,"network_brand_id":null,"network_advertiser_id":null}},"errors":[]}}'
  recorded_at: Tue, 23 Oct 2012 21:08:23 GMT
recorded_with: VCR 2.2.5
