---
http_interactions:
- request:
    method: get
    uri: https://api.hasoffers.com/Api/findAll?Format=json&NetworkId=<HAS_OFFERS_NETWORK_ID>&NetworkToken=<HAS_OFFERS_NETWORK_TOKEN>&Service=HasOffers&Target=Offer&Version=2&limit=50&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Host:
      - use-api-external1-a.hasservers.com
    body:
      encoding: US-ASCII
      string: ! ' {"response":{"errors":{"publicMessage":"IP 70.89.125.98 is not white-listed.
        Please enable it in the application, Support => API"},"link":"http:\/\/www.hasoffers.com\/wiki\/Category:API"}}'
  recorded_at: Wed, 17 Oct 2012 18:21:14 GMT
recorded_with: VCR 2.2.5
